{% extends 'base.html' %}
{% block title %}Проекты{% endblock %}
{% block menu %}
    <li class="nav-item"><a href="{% url 'project_create' %}" class="nav-link">Создать проект</a></li>
{% endblock %}

{% block content %}
    <div class="mt-3">
        <form action="{% url 'project_list' %}" method="GET">
            {% csrf_token %}
            {{ form.project_name.label }}: {{ form.project_name }}
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
    </div>
    <div class="mt-3">
        {% for project in project_list %}
            <h4><a href="{% url 'project_detail' project.pk %}">{{ project.project }}</a></h4>
            <p>{{ project.description }}</p>
            <a href="{% url 'project_update' project.pk %}">Изменить</a>
            <a href="{% url 'project_delete' project.pk %}">Удалить</a>
            <hr>
        {% endfor %}
    </div>
{% endblock %}